<% provide(:title, 'プロジェクト一覧') %>
<% provide(:header, render('shared/header')) %>
<div class="col-md-offset-3 col-md-6">
  <h1>Project#index</h1>
  <p>Find me in app/views/project/index.html.erb</p>
  <%# if @owner_prj.present? %>
<!--    <p>所持プロジェクト</p>-->
    <%# @owner_prj.each do |op| %>
<!--      <p>-->
        <%#= link_to op.name, project_path(op) %>
<!--      </p>-->
    <%# end %>
  <%# end %>
  <% if @joined_prj.present? %>
    <p>参加プロジェクト</p>
    <% @joined_prj.each do |jp| %>
      <p>
        <%= link_to jp.name, project_path(jp) %>
      </p>
    <% end %>
  <% end %>
</div>
