<% provide(:title, @project.name) %>
<% provide(:header, render('shared/project_header')) %>
<div class="col-xs-2" id="sidebar">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-xs-8" id="project-main">
  <p>Project#show</p>
  <p><%= @project.name %></p>
  <% @stories.each do |s| %>
    <p><%= s.title %></p>
  <% end %>
</div>
